asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography==2.1.4
Cython==0.29.9
Flask==1.0.3
Flask-Cors==3.0.7
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.16.4
opencv-contrib-python==3.4.2.16
opencv-python==4.1.0.25
Pillow==8.2.0
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
UNKNOWN==0.0.0
Werkzeug==0.15.4
